[user]
    signingkey = 4B2A31A40261EE15
	email = primary@oka4shi.dev
	name = OKAMOTO Shigehiro

[init]
    defaultbranch = main

[core]
    editor = vim

[commit]
    gpgsign = true

[push]
    default = current

[fetch]
    prune = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
